* {
	margin:0px;
	padding:0px;
}

body {
	font-family:"apercu mono";
	display:flex;
}

.sidebar {
	margin:50px;
	width:70%;
}

.work-dropdown {
	display:none;
	margin-left:15px;
	animation-name:fade;
	animation-duration: 0.3s;
}

h1 {
	font-size:1.5em;
	max-width:100%;
	margin-bottom:100px;
	margin-right:50px;
}

a, .dropdown-btn {
	font-family:"apercu mono";
	font-size:0.8em;
	text-decoration:none;
	color:black;
	border:none;
	background:none;
	outline:none;
}

a:hover, .dropdown-btn:hover {
	text-decoration:underline;
	color:black;
	outline:none;
}

@keyframes fade {
	0% {opacity:0;}
	100% {opacity:1;}
}

.wrapper {
	display:flex;
	flex-direction:column;
	max-width:50%;
	margin:100px 100px 0px 0px;
}

.about {
	font-size:0.8em;
}