* {
	margin:0px;
	padding:0px;
}

body {
	font-family:"apercu mono";
	display:flex;
}

/*img {
    filter: url(filters.svg#desaturate);
    filter: gray;
    -webkit-filter: grayscale(1);
}*/

.sidebar {
	margin:50px;
	width:70%;
}

.work-dropdown {
	display:none;
	margin-left:15px;
	animation-name:fade;
	animation-duration: 0.3s;
}

h1 {
	font-size:1.5em;
	max-width:100%;
	margin-bottom:100px;
	margin-right:50px;
}

a, .dropdown-btn {
	font-family:"apercu mono";
	font-size:0.8em;
	text-decoration:none;
	color:black;
	border:none;
	background:none;
	outline:none;
}

a:hover, .dropdown-btn:hover {
	text-decoration:underline;
	color:black;
	outline:none;
}

@keyframes fade {
	0% {opacity:0;}
	100% {opacity:1;}
}

.wrapper {
	display:flex;
	max-width:78%;
	font-size:0.8em;
	overflow:scroll;
}

.column1 {
	height:100vh;
	width:100%;
	margin-right:40px;
}

.column1 img {
	max-width:100%;
}

.column1::-webkit-scrollbar { 
    display: none; 
}

.column2 {
	height:100vh;
	margin-right:50px;
	width:100%;
}

.column2 img {
	max-width:100%;
}

.column2::-webkit-scrollbar { 
    display: none; 
}